# Root / production secrets (used by docker-compose.prod.yml)
DB_ROOT_PASS=rootpassword
DB_NAME=hr_db
DB_USER=hr_user
DB_PASS=strongpassword
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.mrjbqprodnblekdaeiou:@AHmed11889955@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.mrjbqprodnblekdaeiou:@AHmed11889955@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

SUPER_ADMIN_EMAIL=ahmedalbarca20@gmail.com
SUPER_ADMIN_PASSWORD=Super@1234